.body_LP {
    background-color: #2c2c2c;
    color: #fff;
    height: 1000px;
    width: 100%;
    
}
.landingPage_Heading {
    margin-bottom: 24px;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 600;
    color: #fff;
}

.container_LandingPage {
    position: relative;
    top: 250px;
    display: inline-flex;
}

.row_LP {
    display: flex;
  
    flex-wrap: wrap;
    align-content: stretch;
}



.text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}



.bg2 {
    height: 300px;
    width: 400px;
    max-width: 100%;
    
    
}

.Book {
    color: #fff;
    background-color: transparent;
    border: 2px white solid;
    padding: 8px 20px;
    align-items: center;
}